#add_new_learningplan {
    margin-bottom: 15px;
}

.deleteLearningPlan {
    cursor: pointer;
}

#page-local-sc_learningplans-index form.dataformatselector label[for="downloadtype_download"] {
    width: 100%;
    justify-content: start;
}

#page-local-sc_learningplans-index form.dataformatselector select#downloadtype_download {
    margin-left: 0;
}

#page-local-sc_learningplans-index .table th,
#page-local-sc_learningplans-users .table th {
    border-top: none;
    border-bottom: none;
    font-weight: 500;
}

#page-local-sc_learningplans-index .lp_icon,
#page-local-sc_learningplans-courses .lp_icon,
#page-local-sc_learningplans-users .lp_icon {
    font-size: 20px;
    color: #999;
}

#fitem_id_learningplan_image,
#fitem_id_desc_plan {
    flex-direction: column;
    margin-left: -15px;
}

input[type=checkbox] {
    height: inherit !important;
}

#page-local-sc_learningplans-index input,
#page-local-sc_learningplans-index select,
#page-local-sc_learningplans-create select,
#page-local-sc_learningplans-create input,
#page-local-sc_learningplans-edit input {
    height: 34px;
}

#learningModal {
    z-index: 1042;
}

#page-local-sc_learningplans-users #upload_massive_lp_users_ {
    height: auto;
    color: #000;
    background-color: #fff;
}

select#selectAddCourseToLearningPlan,
select#selectAddCourseOptionalToLearningPlan {
    width: 300px;
}

#page-local-sc_learningplans-create #desc_plan,
#page-local-sc_learningplans-edit #desc_plan {
    height: 90px;
}

#fitem_id_learningplan_image .align-items-start.felement,
#fitem_id_desc_plan .align-items-start.felement {
    max-width: 100%;
}

.learningPlansTable .lp_icon {
    color: #88B13B;
}

#userModal .modal-dialog,
#coursesRequiredModal .modal-dialog,
#coursesOptionalModal .modal-dialog {
    width: 484px;
    height: 451px;
}

#userModal .modal-body,
#coursesRequiredModal .modal-body,
#coursesOptionalModal .modal-body {
    text-align: start;
}

#userModal select#listusers,
#userModal select#listroles,
#userModal select#listgroups {
    width: 412px;
    height: 34px;
    border-radius: 5px;
}

.has-search {
    width: 370px;
}

#icon-searchusers {
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 13px;
}

.coursesrequired,
.coursesoptional {
    list-style: none;
    padding: 15px;
}

.list-courses-optional .course-icon,
.list-courses-required .course-icon,
.list-courses-required-period .course-icon {
    font-size: 18px;
    color: #fff;
}

.tabs-courses .nav-link.active {
    border-bottom: 4px solid #0f6fc5;
}

.tabs-courses #nav-tab,
.nav-tabs .nav-link {
    border-bottom: none;
    border: none;
}

#page-local-sc_learningplans-edit input#duplicate_courses,
#page-local-sc_learningplans-edit input#duplicate_users {
    height: auto;
}

#page-local-sc_learningplans-index .modal-dialog {
    top: 120px;
}

#page-local-sc_learningplans-index .modal-title,
#page-local-sc_learningplans-users .modal-title,
#page-local-sc_learningplans-courses .modal-title {
    position: absolute;
}

#page-local-sc_learningplans-index .modal-footer,
#page-local-sc_learningplans-index .modal-header,
#page-local-sc_learningplans-users .modal-header,
#page-local-sc_learningplans-users .modal-footer,
#page-local-sc_learningplans-courses .modal-footer,
#page-local-sc_learningplans-courses .modal-header {
    justify-content: center;
}

#page-local-sc_learningplans-index .modal-body,
#page-local-sc_learningplans-users .modal-body {
    text-align: center;
}

#page-local-sc_learningplans-users .has-search button {
    height: 37px;
}

#userpaginationsc a {
    position: relative;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

#userpaginationsc .activelp {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

#nav-optionalcourses-tab:focus,
#nav-requiredcourses-tab:focus,
.nav-link.requiredcourses:focus,
.nav-link.optionalcourses:focus {
    -webkit-box-shadow: none;
}

#page-local-sc_learningplans-users .action_upload_user {
    order: 1;
}

#page-local-sc_learningplans-users .has-search {
    padding-top: 40px;
}

@media (max-width: 1200px) {
    #page-local-sc_learningplans-users .content_upload_user {
        display: block;
    }
}

.list-courses-required,
.list-courses-required-period {
    cursor: all-scroll;
}

.learningPlansTable td.cell {
    white-space: pre-wrap;
}

#page-local-sc_learningplans-index .massive_upload_users input {
    height: auto;
}

#page-local-sc_learningplans-index .adding_user {
    padding-top: 40px;
}

input#addperiod,
input#notperiod,
input#type_manual,
input#type_automatic {
    height: auto;
}

#listperiods,
#type_enrol {
    margin-top: 25px;
    padding: 0;
}

#selectCredits,
#selectPeriodOptionalToLearningPlan,
#selectOptionalCredits {
    width: 360px;
    margin-top: 15px;
}

#listperiods div {
    margin-top: 15px;
}

#content-periods {
    width: 250px;
    margin-top: 15px;
}

.icon-drop {
    float: right;
    font-size: 20px;
}

.card-header:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
}

.v-hidden {
    visibility: hidden;
}

#listperiods input {
    padding: 0.375rem 0.75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #8f959e;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#listperiods label {
    width: 100%;
}

@media (min-width: 768px) {

    #page-local-sc_learningplans-create div#topofscroll,
    #page-local-sc_learningplans-edit div#topofscroll,
    #page-local-sc_learningplans-duplicate div#topofscroll,
    #page-local-sc_learningplans-courses div#topofscroll {
        max-width: 1000px;
    }
}

#notPeriodNav,
#periodNav {
    height: 48px;
}

[data-preset="default"] #notPeriodNav,
[data-preset="default"] #periodNav {
    background: var(--secondary);
}

#notPeriodNav .nav-link,
#periodNav .nav-link {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    color: #7E8BB0 !important;
}

#notPeriodNav .nav-link.active,
#periodNav .nav-link.active {
    color: #ffffff !important;
    border-bottom: 4px solid var(--primary);
    border-color: var(--primary) !important;
}

[data-preset="default"] #notPeriodNav .nav-link.active,
[data-preset="default"] #periodNav .nav-link.active {
    background: #2C407D !important;
    color: #ffffff !important;
    border-color: var(--primary) !important;
}

li.list-courses-required,
li.list-courses-optional,
li.list-courses-required-period {
    height: 65px;
}

li.list-courses-required span.content-icon,
li.list-courses-optional span.content-icon,
li.list-courses-required-period span.content-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

li.list-courses-optional span.content-icon {
    background-color: #999999;
}

li.list-courses-required:nth-child(odd) span.content-icon,
li.list-courses-required-period:nth-child(odd) span.content-icon {
    background: #86D418;
}

ul.coursesrequired li:nth-child(2n) span.content-icon {
    background: #FB8B24 !important;
}

@media (max-width: 767.98px) {

    .nav-tabs:not(.more-nav),
    .nav-pills {
        background: var(--secondary) !important;
        padding: 0px !important;
    }

    .nav-tabs:not(.more-nav) .nav-link {
        background-color: transparent !important;
    }
}

button#addoptional_required {
    background: #FB8B24 !important;
}

#searchUser:focus {
    box-shadow: none !important;
}

#careercost::-webkit-outer-spin-button,
#careercost::-webkit-inner-spin-button,
#careerduration::-webkit-outer-spin-button,
#careerduration::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#careercost[type=number],
#careerduration[type=number] {
    -moz-appearance: textfield;
}

.learningPlansTable thead tr th {
    border: none !important;
}