<div class="container-fluid px-0">
    <div class="row required">
        <div class="col-sm-12">
            {{! Form card to edit learnin plans }}
            <div class="card px-4 pt-4">
                {{! Row for learning plan name fields }}
                <div class="row">
                    {{! Field for the short name of the learning plan }}
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100" for="learningshortname">{{#str}} shortname, local_sc_learningplans {{/str}}</label>
                        <input required type="text" name="learningshortname" placeholder="{{#str}} shortname, local_sc_learningplans {{/str}}" id="learningshortname" class="form-control"  value='{{learningshortname}}' />
                    </div>
                    {{! End Field for the short name of the learning plan }}
                    
                    {{! Field for the name of the learning plan }}
                    <div class="col-sm-12 col-md-6 py-2">
                        <label class="w-100" for="learningname">{{#str}} plan_name, local_sc_learningplans {{/str}}</label>
                        <input required type="text" name="learningname" placeholder="{{#str}} name, local_sc_learningplans {{/str}}" id="learningname" class="form-control" value='{{learningplanname}}' />
                    </div>
                    {{! End Field for the name of the learning plan }}
                </div>
                {{! End Row for learning plan name fields }}
                
                {{! Field for the description of the learning plan }}
                <div class="row">
                    <div class="col-sm-12 col-md-12 py-2">
                        <label class="w-100" for="desc_plan">{{#str}} title_desc_plan, local_sc_learningplans {{/str}}</label>
                        {{{formeditor}}}
                    </div>
                </div>
                {{! End Field for the description of the learning plan }}
                
                {{! Field for the learning plan image }}
                <div class="row">
                    <div class="col-sm-12 col-md-12 py-2">
                        <label class="w-100" for="learningname">{{#str}}plan_image, local_sc_learningplans {{/str}}</label>
                        {{{formimagpicker}}}
                    </div>
                </div>
                {{! End Field for the learning plan image }}
                
                {{! Field for learning plan requirements}}
                <div class="row">
                    <div class="col-sm-12">
                        <label class="w-100" for="learningname">{{#str}} plan_requirements, local_sc_learningplans {{/str}}</label>
                        <div class="row">
                            {{#userprofilefields}}
                            <div class="col-sm-12 col-md-4 py-2">
                                <input type="checkbox" {{checked}} name='learningrequirements' id='learningrequirements_{{id}}' value='{{id}}' /><label for='learningrequirements_{{id}}'>&nbsp;&nbsp;&nbsp;{{name}}</label>
                            </div>
                            {{/userprofilefields}}
                        </div>
                    </div>
                </div>
                {{! End Field for learning plan requirements}}
                
                {{!Learning plan custom fields section}}
                {{#customfields}}
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h6 class="mb-2">{{name}}</h6>
                    </div>
                    {{#fields}}
                        {{#select}}
                        <div class="col-sm-12 col-md-6 py-2">
                            <label class="w-100" for="{{shortname}}">{{name}}</label>
                            <select  name="{{shortname}}" id="{{shortname}}" class="form-control customfield" {{required}}>
                                <option value=''>{{#str}} select_career_name, local_sc_learningplans {{/str}}</option>
                                {{#options}}
                                <option {{selected}} value="{{id}}">{{value}}</option>
                                {{/options}}
                            </select>
                        </div>
                        {{/select}}
                        
                        {{#text}}
                        <div class="col-sm-12 col-md-6 py-2">
                            <label class="w-100" for="{{shortname}}">{{name}}</label>
                            <input pattern="{{regex}}" {{disabled}} {{required}} type="{{datatype}}" name="{{shortname}}" placeholder="{{name}}" id="{{shortname}}" class="form-control customfield" value="{{value}}"/>
                        </div>
                        {{/text}}
                        
                    {{/fields}}
                </div>
                {{/customfields}}
                {{!End learning plan custom fields section}}

                {{! Actions }}
                <div class="d-flex card-footer bg-transparent mt-3 px-0">
                    <div class="spacer"></div>
                    <a href="{{cancelurl}}" class="btn btn-secondary m-1">{{#str}} cancel, local_sc_learningplans {{/str}}</a>
                    <button id="edit_learning_plan" class="btn btn-primary m-1">{{#str}} save, local_sc_learningplans {{/str}}</button>
                </div>
                {{! End Actions }}
            </div>
            {{! Form card to edit learnin plans }}
        </div>
    </div>
</div>