<div class="d-flex content_upload_user align-items-end mb-4">
    <div>
        <label for='searchUser'>{{#str}} search_user, local_sc_learningplans {{/str}}</label>
        <div class="d-flex align-items-center input-group">
            <input id='searchUser' class="form-control" name='searchUser' value='{{searchUser}}' />
            <div class="input-group-append">
                <button id='searchBtn' class="btn btn-primary" type="button">{{#str}} search_user_btn, local_sc_learningplans {{/str}}</button>
            </div>
        </div>
        
    </div>
    <div class="spacer"></div>
    
    <div class="d-flex action_upload_user">
         <div class="btn_adding_user">
            {{#hasmanualenrol}}
            <a id="list_users_approve" class="btn btn-primary" href="/local/sc_learningplans/usersperiod.php?id={{learningplanid}}">
                Usuarios en Espera
            </a>
            {{/hasmanualenrol}}
            <button id="add_new_user_" class="btn btn-primary" data-toggle="modal" data-target="#userModal">
                {{#str}} btn_add_user, local_sc_learningplans {{/str}}
            </button>
        </div>
    </div>
</div>

<div id='userpaginationsc' class="d-flex justify-content-end"></div>

<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100 font-weight-bold" id="exampleModalLabel">{{#str}} add_user_lp, local_sc_learningplans {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style='visibility: hidden;'>
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <label class="w-100" for="learningname">{{#str}} assign_users, local_sc_learningplans {{/str}}</label>
                    <input list="users-list" name="listuser" id="listusers" class="form-control" required placeholder="{{#str}} select_user, local_sc_learningplans {{/str}}">
                    <input list="users-list" id="listusers-hidden" type="hidden">
                    <datalist id="users-list">
                        {{#allusers}}
                            <option value="{{firstname}} {{lastname}} - {{email}}" data-id="{{id}}"></option>
                        {{/allusers}}
                    </datalist>

                    
                    <label class="w-100 pt-4" for="learningname">{{#str}}assign_rol, local_sc_learningplans {{/str}}</label>
                    <select name="listroles" id="listroles" required>
                        <option value=''>{{#str}} select_role, local_sc_learningplans {{/str}}</option>
                        {{#roles}}
                        <option value="{{id}}">{{strname}}</option>
                        {{/roles}}
                    </select>
                    
                    <label class="w-100 pt-4" for="listgroups">{{#str}}assign_group, local_sc_learningplans {{/str}}</label>
                    <select name="listgroups" id="listgroups" required>
                        <option value=''>{{#str}} select_group, local_sc_learningplans {{/str}}</option>
                        {{#groups}}
                        <option value="{{name}}">{{name}}</option>
                        {{/groups}}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} close_modal, local_sc_learningplans {{/str}}</button>
                    <button type="button" class="btn btn-primary" id="adduser">{{#str}} btn_add_user, local_sc_learningplans {{/str}}</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
